<!-- 네비게이션 바 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'novel:index' %}">BoBtz</a>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    {% if user.is_authenticated %}
                    <li>
                        <a class="nav-link" href="#">{{ user.nickname }}</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'account:logout_view' %}">로그아웃</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'workspace:index' %}">워크스페이스</a>
                    </li>
                    {% else %}
                    <li>
                        <a class="nav-link" href="{% url 'account:login_view' %}">로그인</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'account:signup_view' %}">회원가입</a>
                    </li>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>